/* #HEADLINE
-------------------------------------------------- */

// [Grid]
// [Components]
//    Decoration cover
//    Columns
//    Tizer
//    Buttons

.headline{
  position: relative;
  min-height: 550px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/academy-headline-bg.jpg);
  .u-clear-fixed;


  // [Grid]
  //--------------------------------------------------
  .container{
    z-index: 10;
  }


  // [Components]
  //--------------------------------------------------
  // Decoration cover
  &__decor-cover {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(left, rgba(213, 52, 164, .6), rgba(215, 77, 64, .7));

    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10px;
      background-color: rgba(40, 92, 161, 0.4);
    }
  }

  // Columns
  &__column{
    position: relative;
    float: left;
    width: 46%;
    min-height: 210px;
    margin-top: 200px;
    padding-left: 50px;
    .u-box-sizing;

    &--dialogs{
      width: 54%;
      padding-right: 50px;
    }
  }

  // Tizer
  &__tizer {
    margin-top: 0;
    color: #fff;
    font-size: 21px;
    line-height: 32px;
    text-shadow: @text-shadow;
  }

  // Buttons
  .bt-group{
    position: absolute;
    bottom: 0;
    background-color: red;
  }
}
