/* #ARTICLE PREVIEW
-------------------------------------------------- */

// [Components]


//==================================================
// #ARTICLE PREVIEW
//==================================================
.article-preview {
  display: block;
  margin: 35px 0;
  padding: 60px 0 25px 0;
  text-align: left;
  border-top: 2px solid @hr-line-color;
  color: @primary-text-color;
  .u-clear-fixed;

  &:last-child {
    margin-bottom: 0;
  }

  // [Components]
  //--------------------------------------------------
  &__img {
    float: left;
    max-width: 340px;
    height: auto;
    margin-right: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    // State
    .article-left-align & {
      float: right;
      margin-right: 0;
      margin-left: 40px;
    }
  }

  &__wrap {
    display: table-cell;
    vertical-align: middle;
    height: 255px;
  }

  p {
    clear: none;
    overflow: hidden;
  }

  &__tag {
    margin-top: 0;
    color: @primary-color;
  }

  &__title {
    margin: 0;
    line-height: @font-base * 1.45;
  }

  &__desc{
    margin-top: 25px;
    line-height: @font-base * 1.2;
  }

  &__bt {
    margin-top: 25px;
  }
}