/* #WORDPRESS PAGINATION
-------------------------------------------------- */

// [Page navigation items]
// [Main navigation]

//==================================================
// #WORDPRESS PAGINATION
//==================================================
.pagination {
  position: relative;
  margin-top: 40px;
  margin-bottom: -36px;
  padding: 35px 80px 35px 80px;
  width: 100%;
  .u-box-sizing;
  border-top: 1px solid @hr-line-color;
  text-align: center;


  // [Page navigation items]
  .page-numbers{
    display: inline-block;
    height: 42px;
    width: 42px;
    margin: 5px 0;
    border: 1px solid @primary-color;
    color: @primary-color;
    line-height: 42px;
    border-radius: 4px;
    .u-box-sizing;

    &:hover,
    &.current{
      background-color: @accent-color;
      border: 1px solid @accent-color;
      color: #fff;
      text-decoration: none;
    }
  }

  // [Main navigation]
  .prev,
  .next {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -21px;
    width: 42px;
    height: 42px;
    .u-icons--help;
    border: none;
    cursor: pointer;

    &:hover{
      background-color: transparent;
      border: none;
    }
  }
  .prev{
    left: 0;
    background-position: -351px -27px;

    &:hover{
      background-position: -351px -87px;
    }
  }
  .next{
    right: 0;
    background-position: -275px -27px;

    &:hover{
      background-position: -275px -87px;
    }
  }
}