/* #SEARCH
-------------------------------------------------- */


//==================================================
// #SEARCH
//==================================================
.search-item{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0; 
  overflow: hidden;
  
  input{
    margin: 0;
    vertical-align: middle;
    font-size: @font-base;
    .u-box-sizing;

    &:focus {
      outline: none;
    }
  }

  &__input{
    height: 30px;
    padding: 0 8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid @primary-color;
    line-height: 30px;
  }

  &__submit-bt{
    position: absolute;
    right: 0;
    width: 36px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  &__open-bt{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    padding: 5px 8px;
    .u-icons--help;
    background-color: @primary-color;
    background-position: -26px -108px;
    background-origin: content-box;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
  }
}

.js-hide-search-input{
  height: 30px;
  width: 34px;

  .search-item__open-bt{
    background-color: transparent;
    background-position: -26px -28px;;
  }
  input{
    display: none;
  }
}

// Menu header state
.search-menu-item{
  float: right;
  padding-top: 18px !important;
  margin-right: 0 !important;
  margin-left: 35px;
  z-index: 100;
}