/* #SIDEBAR NAVIGATION
-------------------------------------------------- */

// [Grid]
// [Components]
// [Sidebar levels]
//    Show sub items
//    Active sidebar item
//    Sidebar pointer for switching sub menu


//==================================================
// #SIDEBAR NAVIGATION
//==================================================

// [Grid]
//--------------------------------------------------
.sidebar-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

// [Components]
//--------------------------------------------------
.sidebar-item {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 0;

  &:last-child {
    padding-bottom: 0;
  }

  & > a {
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 40px;
    padding: 10px 20px 10px 45px;
    color: @primary-text-color;
    cursor: pointer;
    .u-box-sizing;

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 15px;
      display: block;
      width: 12px;
      height: 12px;
      margin-top: -8px;
      .u-icons--help;
      background-position: -70px -29px;
    }

    &:hover {
      color: @accent-color;
      text-decoration: none;
      &:before {
        background-position: -70px -69px;
      }
    }
  }

  & > ul {
    display: none;
  }
}


// [Sidebar levels]
//--------------------------------------------------
.sidebar-first-level,
.sidebar-second-level {
  & > a {
    &:before {
      background-position: -113px -28px;
    }
    &:hover:before {
      background-position: -113px -68px;
    }
  }
}

.sidebar-first-level {
  li > a {
    padding-left: 65px;
    &:before {
      left: 35px;
    }
  }
}
.sidebar-second-level {
  li > a {
    padding-left: 85px;
    &:before {
      left: 55px;
    }
  }
}


// Show sub items
//--------------------------------------------------
.js-sidebar-open-subitems{
  & > a {
    &:before {
      background-position: -150px -29px;
    }
    &:hover:before {
      background-position: -150px -69px;
    }
  }

  & > ul {
    display: block;
  }
}


// Active sidebar item
//--------------------------------------------------
.sidebar-current-item {
  & > a {
    color: @primary-color;
    background-color: #ebeef3;
    &:before {
      background-position: -70px -109px;
    }
    &:hover {
      color: @primary-color;
      text-decoration: none;
      &:before {
        background-position: -70px -109px;
      }
    }
  }
  
  &.sidebar-first-level,
  &.sidebar-second-level {
    & > a {
      &:before,
      &:hover:before {
        background-position: -113px -108px;
      }
    }
  }

  &.js-sidebar-open-subitems {
    & > a {
      &:before,
      &:hover:before {
        background-position: -150px -109px;
      }
    }
  }
}


// Sidebar pointer for switching sub menu
//--------------------------------------------------
.sidebar-pointer{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
}
.sidebar-second-level{
  .sidebar-pointer{
    width: 60px;
  }
}