/* #TAGS
-------------------------------------------------- */

// [State]


//==================================================
// #TAGS
//==================================================
.tags-wrap{
  margin: 35px 0;

  &:last-child{
    margin-bottom: 0;
  }

  p{
    display: inline-block;
    font-weight: 700;
    color: @secondary-text-color;
  }
}

.tag-item{
  display: inline-block;
  padding: 1px 8px;
  margin-left: 5px;
  border-radius: 2px;
  line-height: 24px;
  background-color: @primary-color;
  color: #fff;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background-color: @accent-color;
  }

  // States
  h1 & {
    cursor: default;

    &:hover{
      background-color: @accent-color;
    }
  }
}

// [State]
//--------------------------------------------------
.tag-active {
  background-color: @accent-color;

  &:hover {
    background-color: @primary-color;
  }
}