/* #WORDPRESS MENU
-------------------------------------------------- */

// [Grid]
// [Default menu components]
//    Main menu components
//    Sub menu components
//    Footer menu components
// [Active menu item]


//==================================================
// #WORDPRESS MENU
//==================================================

// [Grid]
//--------------------------------------------------
.wp-menu {
  border-bottom: 2px solid #f4f4f4;
  background-color: #fff;
  .u-box-sizing;
}

// Main menu
.wp-main-menu {
  height: 60px;
  text-align: right;
}

// Sub menu
.wp-sub-menu {
  height: 50px;
}

// Footer menu
.wp-footer-menu {
  height: 56px;
  border-top: 2px solid #f4f4f4;
  border-bottom: none;
}

// Change header height when show wordpress admin panel menu
.with-admin-panel-menu{
  .wp-main-menu{
    margin-top: 32px;
  }

  & + .fake-header{
    margin-bottom: 4px;
  }
}



// [Default menu components]
//--------------------------------------------------
.menu {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;

  &-item {
    position: relative;
    display: inline-block;
    height: 60px;
    margin-right: 40px;
    padding: 22px 0 0;
    .u-box-sizing;

    &:last-child {
      margin-right: 0;
    }

    & > a {
      color: @primary-text-color;

      &:hover {
        color: @accent-color;
        text-decoration: none;
      }
    }

    // Main menu logo
    &-logo {
      float: left;
      margin-top: 18px;
      padding: 0;
      font-size: 25px;

      img {
        padding-right: 5px;
      }

      &:hover{
        text-decoration: none;
      }
    }
  }
}

// Main menu components
//--------------------------------------------------
.wp-main-menu {

  .search-wrap{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 20px;
  }
  .search-item {
    position: absolute;
    top: -5px;
    right: 0;
    
    &__input{
      width: 270px;
    }
  }
  .js-hide-search-input{
    .search-item__open-bt{
      &:hover{
        background-position: -26px -68px;
      }
    }
  }

  .menu-item:last-child{
    margin-left: -10px;
  }
}

// Sub menu components
//--------------------------------------------------
.wp-sub-menu {
  .menu-item {
    height: 50px;
    padding-top: 16px;
  }

  a {
    color: @secondary-text-color;
  }
}

// Footer menu components
//--------------------------------------------------
.wp-footer-menu {
  .menu-item {
    height: 56px;
    padding-top: 18px;
  }

  a {
    color: @secondary-text-color;
  }
}



// [Active menu item]
//--------------------------------------------------
.current-menu-item {
  & > a {
    color: @primary-color !important;
  }

  &:after {
    position: absolute;
    content: '';
  }

  .wp-sub-menu &:after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: @primary-color;
  }

  .wp-main-menu &:after {
    bottom: -3px;
    left: 50%;
    margin-left: -12px;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
  }
  .wp-main-menu &:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -12px;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f4f4f4;
    border-left: 12px solid transparent;
    content: '';
  }

  .js-hide-search-input{
    .search-item__open-bt,
    .search-item__open-bt:hover{
      background-position: -26px -148px;
    }
  }
}