/* #HELP PAGE GRID
-------------------------------------------------- */

// #GENERAL ELEMENTS GRID
// #GRID
//    [Article]
//    [Sidebar]
//    [Main page]
// #MEDIA


//==================================================
// #GRID
//==================================================
.container {
  position: relative;
  max-width: 1140px;
  margin: auto;
  padding: 0 40px;
  z-index: 0;
  .u-clear-fixed;
}

// [Article]
//--------------------------------------------------
.article-container {
  width: 64.91%;
  margin-left: 35%;
  overflow: hidden;
}

// [Sidebar]
//--------------------------------------------------
.sidebar-container {
  position: fixed;
  width: 27.52%;
  max-width: 340px;
  overflow: hidden;
  z-index: 10;
  will-change: transform;
}
.sidebar-content{
  width: 100%;
  background-color: #f5f9fd;
}

// [Main page]
//--------------------------------------------------
.help-main-content{
  min-height: ~"calc(100vh - 60px - 60px)";

   & + .page-footer {
    margin-top: 0;
  }
}



//==================================================
// #MEDIA
//==================================================
@media screen and (max-device-width: 1024px) {

  .container {
    width: 1140px;
    padding: 0 70px;
  }

  // Sidebar
  .sidebar-container {
    position: absolute;
    width: 25.52%;
  }
}