/* #PROJECT GRID
-------------------------------------------------- */

// #GENERAL ELEMENTS GRID
// #GRID
//    [Header]
//    [Footer]
// #MEDIA

//==================================================
// #GENERAL ELEMENTS & COMPONENTS
//==================================================
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100vh;
  font-family: @font-default;
  font-size: @font-base;
  font-weight: 400;
  line-height: @font-base * 1.5;
  color: @primary-text-color;
  background-color: #fff;
}
html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;
}


//==================================================
// #GRID
//==================================================
.container {
  position: relative;
  max-width: 1140px;
  margin: auto;
  padding: 0 40px;
  z-index: 0;
  .u-clear-fixed;
}

// [Header]
//--------------------------------------------------
.page-header {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  z-index: 1000;
  will-change: transform;
}
.fake-header {
  margin-bottom: 36px;
}

// [Footer]
//--------------------------------------------------
.page-footer {
  width: 100%;
  margin-top: 36px;
}



//==================================================
// #MEDIA
//==================================================
@media screen and (max-device-width: 1024px) {

  // Header
  .page-header {
    position: absolute;
    min-width: 1280px;
  }

  // Footer
  .page-footer {
    min-width: 1280px;
  }
}