/* #UTILITIES
-------------------------------------------------- */

//    [Images]
//    [Topography]
//    [Grid]


//==================================================
// #UTILITIES 
//==================================================

/* [Images]
-------------------------------------------------- */
// Icons 
.u-icons--help {
  background: url(../img/icons/help-sprite.svg) no-repeat;
}
.u-icons--academy {
  background: url(../img/icons/academy-sprite.svg) no-repeat;
}


/* [Topography]
-------------------------------------------------- */
/*  Disable touch callout on mobile device */
.u-no-callout {
  -webkit-touch-callout: none;
}

/* Disable text selection highlighting */
.u-no-select {
  user-select: none;
}

/*  Text crop */
.u-text-crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* [Grid]
-------------------------------------------------- */
/* Taking into account the size of borders and padding */
.u-box-sizing {
  box-sizing: border-box;
}

/* Fixed height for elements with float items */
.u-clear-fixed {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

/* Float direction */
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}