/* #DIALOG ITEM
-------------------------------------------------- */

// [Grid]
// [Default menu components]
//    Main menu components
//    Footer menu components



// [Grid]
//--------------------------------------------------
.dialog-item{
  position: relative;
  margin-top: 0;
  margin-bottom: 70px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  text-shadow: @text-shadow;
  border-left: 3px solid #fff;
  font-family: @font-highlight;

  &:after{
    position: absolute;
    content: '';
    bottom: -25px;
    left: -3px;
    height: 28px;
    width: 98px;
    .u-icons--academy;
    background-position: -21px -68px;
  }

  &__type{
    position: absolute;
    left: -45px;
    font-family: @font-default;
  }
}