/* #WORDPRESS MENU
-------------------------------------------------- */

// [Grid]
// [Default menu components]
//    Main menu components
//    Footer menu components


//==================================================
// #WORDPRESS MENU
//==================================================

// [Grid]
//--------------------------------------------------
.wp-menu {
  .u-box-sizing;
}

// Main menu
.wp-main-menu {
  height: 65px;
  text-align: right;
  background-color: rgba(40, 92, 161, .65);
  //border-bottom: 2px solid #f4f4f4;
}

// Footer menu
.wp-footer-menu {
  height: 56px;
  border-top: 2px solid #f4f4f4;
}

// Change header height when show wordpress admin panel menu
.with-admin-panel-menu{
  .wp-main-menu{
    margin-top: 32px;
  }

  & + .fake-header{
    margin-bottom: 4px;
  }
}



// [Default menu components]
//--------------------------------------------------
.menu {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;

  &-item {
    position: relative;
    display: inline-block;
    height: 60px;
    margin-right: 90px;
    padding: 24px 0 0;
    .u-box-sizing;

    &:last-child {
      margin-right: 0;
    }

    & > a {
      position: relative;
      color: #fff;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        text-decoration: none;

        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          background-color: #fff;
        }
      }
    }

    // Main menu logo
    &-logo {
      display: block;
      float: left;
      margin-top: 21px;
      width: 226px;
      height: 22px;
      .u-icons--academy;
      background-position: -20px -23px;
    }
  }
}

// Main menu components
//--------------------------------------------------
.wp-main-menu {

}


// Footer menu components
//--------------------------------------------------
.wp-footer-menu {
  .menu-item {
    height: 56px;
    padding-top: 18px;
    margin-right: 40px;
  }

  a {
    color: @secondary-text-color;
    font-weight: 400;

    &:hover{
      color: @accent-color;
    }
  }
}