<footer class="page-footer">
  <nav class="wp-menu wp-footer-menu">
    <div class="container">
      <div class="lang-selector">
        <div class="lang-selected-item">
          English
        </div>

        <!-- START: qtranxs language chooser plugin -->
        <ul class="qtranxs_language_chooser" id="lang-wrap-chooser">
          <li class="lang-en active">
            <a class="qtranxs_text qtranxs_text_en"
               href="" hreflang="en" title="English">
              <span>English</span>
            </a>
          </li>
          <li class="lang-ru">
            <a class="qtranxs_text qtranxs_text_ru"
               href="" hreflang="ru" title="Русский">
              <span>Русский</span>
            </a>
          </li>
        </ul>
        <!-- END: qtranxs language chooser plugin -->
      </div>


      <!-- START: footer-menu -->
      <ul class="menu">
        <li class="menu-item menu-item-home">
          <a href="" >Home</a>
        </li>
        <li class="menu-item">
          <a href="" target="_blank">About us</a>
        </li>
        <li class="menu-item">
          <a href="">Contacts</a>
        </li>
        <li class="menu-item">
          <a href="">Terms and conditions</a>
        </li>
      </ul>
      <!-- END: footer-menu -->
    
    </div>
  </nav>
</footer>