<header class="page-header">
  <nav class="wp-menu wp-main-menu">
    <div class="container">

      <a class="menu-item-logo"  href="">
        <img src="./img/logo.svg" alt="iziTravel Academy logo">
        HELP
      </a>

      <!-- START: search-menu-item -->
      <div class="menu-item search-menu-item">
        <div class="search-wrap">
          <form class="search-item js-hide-search-input">
            <input class="search-item__input" type="text" placeholder="Insert a keyword">
            <div class="search-item__open-bt"></div>
            <input class="search-item__submit-bt" type="submit" value="">
          </form>
        </div>
      </div>
      <!-- START: search-menu-item -->

      <!-- START: main-menu -->
      <ul class="menu">
        <li class="menu-item menu-item-home">
          <a href="" >Home</a>
        </li>
        <li class="menu-item">
          <a href="">Creation</a>
        </li>
        <li class="menu-item current-menu-item">
          <a href="">Production</a>
        </li>
        <li class="menu-item">
          <a href="">Promotion</a>
        </li>
      </ul>
      <!-- END: main-menu -->
    </div>
  </nav>
  
  <nav class="wp-menu wp-sub-menu">
    <div class="container">

      <!-- START: sub-menu -->
      <ul class="menu">
        <li class="menu-item">
          <a href="">Production Home</a>
        </li>
        <li class="menu-item current-menu-item">
          <a href="">CMS for museums</a>
        </li>
        <li class="menu-item">
          <a href="">CMS for city tours</a>
        </li>
        <li class="menu-item">
          <a href="">CMS settings</a>
        </li>
        <li class="menu-item">
          <a href="">Video lessons</a>
        </li>
        <li class="menu-item">
          <a href="">Audio/video production</a>
        </li>
      </ul>
      <!-- END: sub-menu -->

    </div>
  </nav>
  
</header>

<div class="fake-header" ></div>