/* #CUSTOM SCROLL COMPONENTS
-------------------------------------------------- */

//==================================================
// #CUSTOM SCROLL COMPONENTS
//==================================================
.nano {

  & > .nano-content {
    position: absolute;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
  }

  & > .nano-pane {
    position: absolute;
    width: 8px;
    right: 6px;
    top: 5px;
    bottom: 5px;

    & > .nano-slider {
      background: #b7c9e1;
      position: relative;
      border-radius: 5px;
    }
  }
}