/* #IMAGE SLIDER - BXSLIDER PLUGIN
-------------------------------------------------- */

// #SLIDER CONTROLS
//  [Direction controls buttons]
//  [Pagination]
// #COMPONENTS


//==================================================
// #IMAGE SLIDER - BXSLIDER PLUGIN
//==================================================
.main-slider--wrapper{

  .bx-wrapper{
    position: relative;
    margin: 35px 0;
    height: 400px;
  }

  .bx-viewport{
    height: 100% !important;

    ul{
      height: 100%;
    }

    li{
      height: 100%;

      img{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  //==================================================
  // #SLIDER CONTROLS
  //==================================================
  .bx-controls{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  // [Direction controls buttons]
  //--------------------------------------------------
  .bx-controls-direction{
    a{
      position: absolute;
      top: 50%;
      margin-top: -35px;
      width: 45px;
      height: 70px;
      background-color: rgba(0,0,0,.4);
      font-size: 0;

      &:after{
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        width: 16px;
        height: 26px;
        margin: -13px 0 0 -8px;
        opacity: .7;
        .u-icons--help;
      }

      &:hover{
        background-color: rgba(0,0,0,.7);

        &:after {
          opacity: 1;
        }
      }
    }

    .bx-prev{
      left: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

      &:after{
        background-position: -200px -105px;
      }
    }

    .bx-next{
      right: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      &:after{
        background-position: -199px -64px;
      }
    }
  }

  // [Pagination]
  //--------------------------------------------------
  .bx-pager{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    text-align: center;

    &-item{
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;

      &:last-child{ margin-right: 0; }

      a{
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        .u-icons--help;
        background-color: rgba(170, 170, 170, 0.38);
        background-position: -227px -29px;
        font-size: 0;
      }
      .active{
        background-position: -198px -24px;
        width: 20px;
        height: 20px;
      }
    }
  }
}


//==================================================
// #COMPONENTS
//==================================================
.main-slider{
  margin: 0;
  padding: 0;
  list-style-type: none;

  li{
    margin: 0;
    padding: 0;

    img{
      display: block;
      max-width: 100%;
    }
  }
}