/* #FONTS
-------------------------------------------------- */

@font-face {
  font-family: 'Proxima';
  font-weight: 400;
  font-style: normal;

  src: url(../fonts/ProximaNova-Regular.otf)  format('opentype'),
  url(../fonts/ProximaNova-Regular.ttf)  format('truetype'),
  url(../fonts/ProximaNova-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 400;
  font-style: italic;

  src: url(../fonts/ProximaNova-RegularIt.otf)  format('opentype'),
  url(../fonts/ProximaNova-RegularIt.ttf)  format('truetype'),
  url(../fonts/ProximaNova-RegularIt.woff) format('woff');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 500;
  font-style: normal;

  src: url(../fonts/ProximaNova-Semibold.otf)  format('opentype'),
  url(../fonts/ProximaNova-Semibold.ttf)  format('truetype'),
  url(../fonts/ProximaNova-Semibold.woff) format('woff');
}


@font-face {
  font-family: 'Proxima';
  font-weight: 700;
  font-style: normal;

  src: url(../fonts/ProximaNova-Bold.otf)  format('opentype'),
  url(../fonts/ProximaNova-Bold.ttf)  format('truetype'),
  url(../fonts/ProximaNova-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Proxima';
  font-weight: 300;
  font-style: normal;

  src: url(../fonts/ProximaNova-Light.otf)  format('opentype'),
  url(../fonts/ProximaNova-Light.ttf)  format('truetype'),
  url(../fonts/ProximaNova-Light.woff) format('woff');
}

@font-face {
  font-family: 'Skolar';
  font-weight: 400;
  font-style: italic;

  src: url(../fonts/SkolarPEWeb-Italic.ttf)  format('truetype'),
  url(../fonts/SkolarPEWeb-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Skolar';
  font-weight: 700;
  font-style: italic;

  src: url(../fonts/SkolarPEWeb-BoldItalic.ttf)  format('truetype'),
  url(../fonts/SkolarPEWeb-BoldItalic.woff) format('woff');
}