// #HEADLINE SECTION
// #HELP HEADLINE

//==================================================
// #HEADLINE SECTION
//==================================================
.headline{
  position: relative;
  width: 100%;
  min-height: 400px;
  margin-top: -38px;
  background-position: center;
  background-size: cover;

  // Grid
  //--------------------------------------------------
  &__wrap{
    position: relative;
    width: 500px;
    height: 100%;
    margin: auto;
    text-align: center;
  }
  &__content{
    display: table-cell;
    height: 100%;
    margin: auto;
    vertical-align: middle;
  }

  // Components
  //--------------------------------------------------
  &__section-title{
    position: relative;
    margin: 0;

    &:before{
      position: relative;
      display: inline-block;
      content: '';
      margin-right: 20px;
      width: 82px;
      height: 82px;
      vertical-align: middle;
      .u-icons--help;
    }
  }

  &__title{
    margin: 45px 0 0 0;
    color: @accent-color;
  }

  &__desc{
    line-height: @font-base * 1.2;
  }

  &__bt{
    margin-top: 55px;
  }
}

// States
//--------------------------------------------------
.headline-creation{
  .headline__section-title{
    &:before{
      background-position: -20px -194px;
    }
  }
}
.headline-production{
  .headline__section-title{
    &:before{
      background-position: -116px -197px;
    }
  }
}
.headline-promotion{
  .headline__section-title{
    &:before{
      background-position: -212px -197px;
    }
  }
}


//==================================================
// #HELP HEADLINE
//==================================================
.help-headline{
  margin-top: -36px;
  min-height: 210px;
  padding-bottom: 30px;
  background: url(../img/help-headline-bg.jpg);
  background-size: contain;
  .u-clear-fixed;

  &:before{
    display: table;
    content: '';
    clear: both;
  }

  // [Components]
  //--------------------------------------------------
  &__title {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 28px;
    color: #fff;
  }

  &__tizer{
    margin-top: 0;
    font-size: 19px;
    text-align: center;
    color: #f5afc4;
  }


  // Search form
  //--------------------------------------------------
  .search-wrap{
    text-align: center;
    margin-top: 35px;
  }

  .search-item{

    &__input{
      width: 620px;
      height: 58px;
      padding: 0 70px 0 12px;
      font-size: 28px;
      font-weight: 300;
      line-height: 58px;
      border: 1px solid transparent;
      border-radius: 2px;
    }

    &__input::-webkit-input-placeholder {color:#d4bcc3;}
    &__input::-moz-placeholder          {color:#d4bcc3;}
    &__input:-ms-input-placeholder      {color:#d4bcc3;}


    &__submit-bt{
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
    }

    &__open-bt{
      width: 25px;
      height: 25px;
      padding: 18px;
      .u-icons--help;
      background-color: transparent;
      background-position: -68px -146px;
      background-origin: content-box;

      &:after{
        position: absolute;
        top: 8px;
        left: 0;
        content: '';
        height: 44px;
        width: 1px;
        background: #b2c4dd;
        border-right: 1px solid #cbd7e8;
      }
    }
  }
}