// #HELP SECTIONS

//==================================================
// #HELP SECTIONS
//==================================================
.help-section{
  position: relative;
  min-height: 80px;
  padding: 40px 0;
  cursor: pointer;
  border-top: 2px solid #eee;
  z-index: 10;

  // [Components]
  //--------------------------------------------------
  .container {
    &:after {
      position: absolute;
      content: '';
      left: 40px;
      top: 0;
      width: 82px;
      height: 82px;
      .u-icons--help;
    }
  }

  &__title {
    margin: 0 0 0 100px;
    font-size: @font-large;
    font-weight: 400;
    color: #4a4a4a;
  }

  &__desc {
    margin-top: 5px;
    margin-left: 100px;
    font-size: 18px;
    font-weight: 300;
    color: #878787;
  }

  &__arrow{
    position: relative;
    display: none;

    &:before,
    &:after {
      position: absolute;
      content: '';
      bottom: -42px;
      left: 30px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 13px solid #eee;
    }
    &:after {
      bottom: -45px;
      border-bottom: 13px solid #fcfcfc;
    }
  }
  // [States]
  //--------------------------------------------------
  &:hover {
    .help-section__title{
      color: @accent-color;
    }
  }

  &--open{
    .help-section__arrow{
      display: block;
    }

  }

  // [Modifications]
  //--------------------------------------------------
  &--creation {
    .container:after {
      background-position:  -20px -194px;
    }
  }

  &--production {
    .container:after {
      background-position: -116px -197px;
    }
  }

  &--promotion {
    .container:after {
      background-position: -212px -197px;
    }
  }
}


//==================================================
// #HELP CONTENT
//==================================================
.help-content{
  display: none;

  // [Components]
  //--------------------------------------------------
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  &__item {
    display: block;
    padding: 15px 0;
    width: 100%;
    border-top: 2px solid #eee;
    background-color: #fcfcfc;
    cursor: pointer;
    .u-clear-fixed;

    a {
      color: #285CA1;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-wrap{
      position: relative;
      display: block;
      max-width: 1140px;
      margin: auto;
      padding: 0 40px;
      z-index: 0;

      &:before{
        position: relative;
        display: inline-block;
        content: '';
        top: 1px;
        width: 11px;
        height: 14px;
        margin-right: 10px;
        .u-icons--help;
        background-position: -113px -108px;
      }

      // Sub items
      & > ul {
        display: none;
        margin-top: 10px;

        li {
          float: left;
          width: 50%;
          padding: 15px 0 5px 25px;
          .u-box-sizing;
        }

        a {
          color: #4a90e2;
        }
      }
    }


    // [States]
    //--------------------------------------------------
    &--open {
      .help-content__item-wrap {
        &:before {
          top: -1px;
          height: 7px;
          background-position: -150px -112px;
        }

        & > ul {
          display: block;
        }
      }
    }
  }

  &--no-items{
    .help-content__item-wrap {
      &:before {
        top: 1px;
        width: 12px;
        height: 12px;;
        background-position: -70px -109px;
      }
    }
  }

  // [States]
  //--------------------------------------------------
  &--open {
    display: block;
  }
}