/* #RELATED ARTICLE SLIDER - BXSLIDER PLUGIN
-------------------------------------------------- */

// #SLIDER CONTROLS
//    [Direction controls buttons]
// #COMPONENTS
//    [Article preview]


//==================================================
// #RELATED ARTICLE SLIDER - BXSLIDER PLUGIN
//==================================================
.related-articles--wrapper{
  position: relative;
  margin-top: 40px;
  margin-bottom: -36px;
  padding: 35px 80px 35px 80px;
  width: 100%;
  .u-box-sizing;
  border-top: 1px solid @hr-line-color;
  text-align: center;

  .bx-viewport{
    z-index: 100;

    ul{
      height: 100%;
    }

    li{
      height: 100%;
    }
  }

  //==================================================
  // #SLIDER CONTROLS
  //==================================================
  .bx-controls{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  // [Direction controls buttons]
  //--------------------------------------------------
  .bx-controls-direction{
    a{
      position: absolute;
      top: 50%;
      margin-top: -21px;
      width: 42px;
      height: 42px;
      font-size: 0;
      text-indent: 9999px;
      .u-icons--help;
      background-repeat: no-repeat;
    }

    .bx-prev{
      left: 0;
      background-position: -351px -27px;

      &:hover{
        background-position: -351px -87px;
      }
    }

    .bx-next{
      right: 0;
      background-position: -275px -27px;

      &:hover{
        background-position: -275px -87px;
      }
    }
  }
}


//==================================================
// #COMPONENTS
//==================================================
.related-articles--slider {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li{
    margin: 0;
    padding: 0;
  }

  // [Article preview]
  //--------------------------------------------------
  .article-preview{
    margin: 5px 0;
    padding: 0;
    border: none;

    &__wrap{
      height: 150px;
    }

    &__img{
      max-width: 200px;
    }

    &__title{
      margin: 10px 0;
    }

    &__desc{
      margin-top: 10px;
    }

    // State
    //--------------------------------------------------
    &:hover{
      text-decoration: none;
    }

    &:hover .article-preview__title,
    &:hover .article-preview__desc{
      color: @accent-color;
    }
  }
}