/* #SEARCH SIDEBAR
-------------------------------------------------- */

// [Grid]
//    Search input
//    Tags list


//==================================================
// #SEARCH SIDEBAR
//==================================================

// [Grid]
//--------------------------------------------------
.search-sidebar {
  padding: 15px 20px;
  .u-box-sizing;

  .section-title{
    margin: 0 0 5px 0;
    display: block;
    font-weight: 700;
    color: @secondary-text-color;
  }

  // Search input
  //--------------------------------------------------
  .search-wrap{
    margin-bottom: 25px;
  }
  .search-item{
    width: 100%;
    
    &__input{
      width: ~"calc(100% - 36px)";
    }
  }

  // Tags list
  //--------------------------------------------------
  .tags-wrap{
    margin: 0;

    .tag-item{
      margin-bottom: 8px;
      margin-left: 0;
      margin-right: 5px;

      &:first-child{
      }
    }
  }
}