/* #BUTTONS
-------------------------------------------------- */

// [Flat button]

//==================================================
// #BUTTONS
//==================================================

// [Flat button]
.bt-flat {
  display: inline-block;
  min-width: 100px;
  padding: 0 15px;
  font-family: @font-default;
  font-size: @font-base;
  font-weight: 400;
  line-height: 40px;
  color: @primary-color;
  border: 1px solid @primary-color;
  border-radius: 4px;
  outline: 0;
  background: transparent;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: @accent-color;
    border: 1px solid @accent-color;
    text-decoration: none;
  }

  &:active {
    color: #fff;
    border: 1px solid @accent-color;
    background-color: @accent-color;
  }
}