/* #LANGUAGE SELECTOR
-------------------------------------------------- */

// [Components]
//    Selected language & button
//    List of available languages

//==================================================
// #LANGUAGE SELECTOR
//==================================================
.lang-selector {
  position: relative;
  float: right;
  margin-top: 16px;
  cursor: pointer;
}

// [Components]
//--------------------------------------------------

// Selected language & button
.lang-selected-item {
  position: relative;
  padding-right: 18px;
  color: @secondary-text-color;
  
  &:after {
    position: absolute;
    top: 9px;
    right: 0;
    width: 11px;
    height: 7px;
    opacity: .6;
    content: '';
    .u-icons--help;
    background-position: -150px -32px;
  }

  &:hover {
    color: @accent-color;
    &:after {
      opacity: 1;
      background-position: -150px -72px;
    }
  }
}

// List of available languages
#lang-wrap-chooser {
  position: absolute;
  bottom: 25px;
  left: 50%;
  display: none;
  margin: 0;
  padding: 0 6px 3px 8px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  box-shadow: 1px 1px #e1e1e1;
  list-style-type: none;
  transform: translateX(-50%);
  
  li {
    margin-top: 6px;
    padding-left: 0;
    list-style-type: none;

    a:hover {
      text-decoration: none;
      color: @accent-color;
    }
  }

  // Actions state
  //--------------------------------------------------
  .js-show-lang-selector & {
    display: block;
  }
}